{% extends "base.html" %}

{% load i18n static cms_tags sekizai_tags menu_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup Closed" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row m-5">
    <div class="col d-flex justify-content-center">
      <div class="w-50 border border-3 rounded-2 p-3">
		<h1>{% trans "Sign Up Closed" %}</h1>

		<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
