{% extends "base.html" %}
{% load sekizai_tags menu_tags %}

{% block content %}
    

<div class="container">
	<div class="row m-3">
		<div class="col">
			<div><h1>Stories</h1></div>
			<div>
				<ul>
				{% for story in story_list %}
				    <div class="border rounded p-2 m-2 d-flex flex-row">
				    	<div class="col-11 d-flex align-items-center">{{ story.title }}</div>
				    	<div class="col-1"><a href="{% url 'author:story_delete' storyslug=story.slug %}" title=""><button class="btn btn-outline-danger p-2 px-3 ">X</button></a></div>
				    </div>
				{% empty %}
				    <div>No stories yet.</div>
				{% endfor %}
				</ul>
				<div>
					<a href="{% url 'author:story_create' %}" class="btn btn-text">Start a story</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}