<footer class="footer footer-big bg-gradient-default">
  <div class="container">
    <div class="content">
      <div class="row mb-5">
        <div class="column mx-auto">
          <!-- <img src="" class="logo logo-sm" alt=""> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mb-4">About Us</h4>
            <ul class="links-vertical">
              <li>
                <a href="javascript:;">
                  Our mission
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  Media Kit
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mb-4">Social</h4>
            <ul class="links-vertical">
              <li>
                <a href="javascript:;">
                  Community
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  Dribbble
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  Twitter
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  Facebook
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="column">
            <h4 class="mb-4">Newsletter</h4>
            <ul class="links-vertical">
              <p>Get updates to published stories!</p>
              <form class="form form-newsletter" method="" action="">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email">
                </div>
                <button type="button" class="btn btn-primary" name="button">
                  Subscribe
                </button>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="bg-white opacity-3">
    <div class="column">
      <ul class="d-flex justify-content-center">
        <li>
          <a href="javascript:;" class="nav-link">
            Terms &amp; conditions
          </a>
        </li>
        <li>
          <a href="javascript:;" class="nav-link">
            Privacy policy
          </a>
        </li>
        <li>
          <a href="javascript:;" class="nav-link">
            Legal notice
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="column mt-5">
      <hr>
      <span class="text-muted">
        ©{% now "Y" %} Scintillant Ventures Ltd. All rights reserved.
      </span>
    </div>
  </div>
    
</footer>
